.hideElement {
  display: none;
}
/*He agragado un HIDEELEMENT, para brindar 
el atributo de esconderse, mostrando "nada"*/
#root {
  text-align: center;
}

#code {
  text-align: center;
}

#codeD {
  text-align: center;
}
/*TEXT-ALIGN: Mueve los elementos por IDs
donde center es centro, right derecha y left izq*/